<!DOCTYPE html>
<html>
  <head>
    <title>Study Schedule</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <script src="bootstrap/bootstrap.min.js"></script>
  </head>
  <body>
    <script src="assets/bundle.js"></script>  
    <div id="mondayContainer"></div>
    <div id="tuesdayContainer"></div>
    <%= yield %>
  </body>
</html>
