<!DOCTYPE html>
<html>
  <head>
    <title>Study Schedule</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <script src="bootstrap/bootstrap.min.js"></script>
  </head>
  <body>
    <script src="assets/bundle.js"></script>
    <div id="container"></div>

    <div class="jumbotron">
  <h1>Jumbotron</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
  
<div id="container"></div>
<div id="mondayContainer"></div>

  </body>
</html>
