<!DOCTYPE html>
<html>
  <head>
    <title>StudySchedule</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
  </head>
  <body>
    <script src="assets/bundle.js"></script>
    <div id="container"></div>
    <div class="container4">luni</div>
    <div class="container4">marti</div>
    <div class="container4">miercuri</div>
    <div class="container3">joi</div>
    <div class="container3">vineri</div>
    <div class="container3">sambata</div>
    <div class="container3">duminica</div>
    
  </body>
</html>
