<!DOCTYPE html>
<html>
  <head>
    <title>Study Schedule</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  </head>
    <script src="bootstrap/bootstrap.min.js"></script>
  <body>
    <div id="header" class="header">
    </div>
    <script src="assets/bundle.js"></script>
    <div id="welcomePanel" class="welcomePanel"></div>
    <div id="mondayContainer"></div>
    <div id="tuesdayContainer"></div>
    <div id="wednesdayContainer"></div>
    <div id="thursdayContainer"></div>
    <div id="fridayContainer"></div>
    <div id="saturdayContainer"></div>
    <div id="sundayContainer"></div>
    <%= yield %>
  </body>
</html>
